<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flashcards">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity_seleccionarImagenes"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".activity_cicloImagenes"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity_imagenes" />
        <activity
            android:name=".activity_modificarBorrar"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_info"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Preguntas"
            android:noHistory="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_seleccionarempezar"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_flashcard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Borrar_palabras"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lista_palabras"
            android:label="@string/title_activity_lista_palabras"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity_insertarPalabra"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_antesComenzar"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>